* {
  margin: 0;
}
.levelup::-webkit-scrollbar {
  display: none;
}
.levelup {
  display: flex;
  color: #ffffff;
  background-color: #5A189A;
  padding: 30px 50px;
  margin: 50px 150px ;

  border-radius: 40px;
}
.levelup .left {
  margin-right: 180px;
}
.left h2 {
  font-size: 45px;
  font-weight: 700;
  padding-top: 20px;
}
.left button {
  padding: 15px 100px;
  margin-top: 20px;
  background-color: #FFC826;
  color: white;
  border: 0px;
  border-radius: 6px;
}
.left button:hover {
  cursor: pointer;
}
.right img {
  width: 200px;
}
