* {
  margin: 0;
}
.topcourses,
.newcourses::-webkit-scrollbar {
  display: none;
}
.topcourses, .newcourses {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 50px;
}
.newcourses {
  padding-top: 50px;
}
.headline {
  padding-bottom: 30px;
}
.headline h2 {
  font-size: 42px;
  font-weight: 500;
  color: #1d262d;
}
.courses .top {
  padding-bottom: 50px;
}
.top p,
.bottom p {
  font-size: 12px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 20px;
}
.top h2,
.bottom h2 {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
.foundation,
.delicious,
.adobe,
.technology,
.storytelling,
.melodies,
.marketing,
.unleash {
  padding-right: 15px;
  width: 25%;
}
.courses .rating img {
  width: 20px;
  height: 20px;
}
.more-button {
  border: 1px solid #ffc826;
  color: #ffc826;
  font-weight: 700;
  font-size: 20px;
  width: 30%;
  text-align: center;
  padding: 10px 25px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 30px;
}
.more-button:hover {
  cursor: pointer;
}
