* {
  margin: 0;
}
.nav::-webkit-scrollbar {
  display: none;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo {
  padding-right: 10px;
}
.logo:hover, .brand-name, .nav-options {
  cursor: pointer;
}
.brand-name {
  font-weight: 600;
  font-size: 20px;
  color: #5a189a;
}
.search {
  display: flex;
  width: 200px;
  height: 25px;
  padding: 0 5px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0px 0px 3px grey;
}
.search input {
  background-color: transparent;
  border: none;
  font-size: 14px;
  margin-left: 5px;
  height: 100%;
  width: 100%;
}
input:focus {
  outline: none;
}
.navigate {
  font-weight: 500;
  font-size: 18px;
  color: #1D262D;
}
.navigate .categories {
  padding-right: 20px;
}
.buttons button {
  padding: 6px 18px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
}
.buttons .signup {
  background-color: #FFC826;
  color: #ffffff;
  margin-right: 8px;
  border: 0px;
}
.buttons .signin {
  background-color: #ffffff;
  color: #FFC826;
  border: 1px solid #FFC826;
}
.buttons button:hover {
  cursor: pointer;
}